@page "/"
@inject IDiscussionService discussionService

<section class="section">
    <div class="container">
        <div class="row mt-4">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-2">
                @if (ArticlesLoading)
                {
                    <LoadingIcon />
                }
                else
                {
                    @if (ArticlesError == "")
                    {

                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">Aktualności</h4>
                            </div><!-- end blog-top -->

                            <div class="blog-list clearfix">

                                <Pagination Items="Articles" PageSize="6">
                                    <ItemTemplate>

                                        <ArticlePreview Article="context" />
                                        <hr class="invis">

                                    </ItemTemplate>
                                </Pagination>

                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <b>Błąd wczytywania artykułów:</b> @ArticlesError
                        </div>
                    }
                }
            </div>


            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="card">
                        <div class="card-header">
                            <h4>Aktywność</h4>
                        </div>
                        <div class="card-body">
                            @foreach (var PersonalLog in Logs)
                            {
                                <div>
                                    <small>@PersonalLog.Date</small>
                                    @if (PersonalLog.Link != null)
                                    {
                                        <p><NavLink href="@PersonalLog.Link">@PersonalLog.Description</NavLink></p>
                                    }
                                    else
                                    {
                                        <p>@PersonalLog.Description</p>
                                    }
                                </div>

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@code {
    public List<ArticleDto> Articles { get; set; } = new List<ArticleDto>();

    public string ArticlesError { get; set; } = "";

    public bool ArticlesLoading { get; set; } = false;

    List<LogDto> Logs { get; set; } = new List<LogDto>();

    protected override async Task OnInitializedAsync()
    {
        ArticlesLoading = true;
        var articlesResponse = await discussionService.GetAllArticles();

        if (articlesResponse.Success)
        {
            Articles = articlesResponse.Data!;
        }
        else
        {
            ArticlesError = articlesResponse.Message;
        }
        ArticlesLoading = false;

        var personalLogsResponse = await discussionService.GetRecentLogs();

        if (personalLogsResponse.Success)
        {
            Logs = personalLogsResponse.Data!;
        }
    }
}