@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider authStateProvider
@inject UserService userService


@using System.Text.Json
@using System.Net.Http.Headers

@page "/login"

<PageTitle>Login</PageTitle>
<h3>Login</h3>

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<EditForm Model="user" OnValidSubmit="ExecuteLogin" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <fieldset disabled="@disabled">
        <div class="form-group col">
            <label for="email" class="col-md-2 col-form-label">Email:</label>
            <div class="col-md-10">
                <InputText id="email" class="form-control" @bind-Value="user.Login" />
                <ValidationMessage For="@(() => user.Login)" />
            </div>
        </div>

        <div class="form-group col">
            <label for="password" class="col-md-2 col-form-label">Password:</label>

            <div class="col-md-10">
                <InputText type="password" id="password" class="form-control" @bind-Value="user.Password" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </fieldset>
</EditForm>

<a href="/request-reset-password">Forgot password?</a>

@code {
    LoginDto user = new LoginDto();
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    public bool ShowAuthError { get; set; }
    public string Error { get; set; }
    private bool disabled;

    public async System.Threading.Tasks.Task ExecuteLogin()
    {
        disabled = true;
        ShowAuthError = false;

        var content = JsonSerializer.Serialize(user);
        var bodyContent = new StringContent(content, Encoding.UTF8, "application/json");

        var authResult = await userService.Login(user);
        
        // if(authResult.Result != )

        // await localStorage.SetItemAsync("authToken", result);
        // ((AuthStateProvider)authStateProvider).NotifyUserAuthentication(result);

        // Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", result);

        NavigationManager.NavigateTo("/");
    }
}
