body {
    background-color: red;
}



@media(min-width:1200px) {

    .team {
        max-width: 180px;
    }
}

@media(max-width: 1200px) {
    .order-2 {
        order: 0;
        min-width: 100%;
    }
}
