@inject AuthenticationStateProvider authStateProvider
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserService userService

<header class="header" style="height: 80px">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <NavLink class="navbar-brand" href="/"><img src="images/logo.png" alt=""></NavLink>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">Start</NavLink>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tabele</a>
                        <ul class="dropdown-menu megamenu bg-inverse" aria-labelledby="dropdown01">
                            <li>
                                <NavLink class="nav-link nav-link-dropdown" href="/typermania">Typermania</NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link nav-link-dropdown" href="/mvp">MVP</NavLink>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <NavLink class="nav-link" href="/teamslist">Zespoły</NavLink>
                        <AuthorizeView>
                            <Authorized>
                                <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                    <li>
                                        @if (IsTeamCaptain)
                                        {
                                            <NavLink class="nav-link nav-link-dropdown" href="/manageteam">Zarządzaj drużyną</NavLink>
                                        }
                                        else
                                        {
                                            <NavLink class="nav-link nav-link-dropdown" href="/createteam">Stwórz nową drużynę</NavLink>
                                        }
                                    </li>
                                </ul>
                            </Authorized>
                        </AuthorizeView>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/schedule">Terminarz</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/forum">Forum</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/league">Liga</NavLink>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto">
                    <AuthorizeView>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/login">Zaloguj się</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/register">Zarejestruj się</NavLink>
                            </li>
                        </NotAuthorized>
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/" @onclick="Logout">Wyloguj</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>

        </nav>
    </div>
</header>
@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    public bool IsTeamCaptain { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authstate = await authStateProvider.GetAuthenticationStateAsync();

        if (authstate.User.Identity.IsAuthenticated)
        {
            var userHasTeam = await userService.IsTeamCaptain();
            if (!userHasTeam.Success)
            {
                return;
            }

            IsTeamCaptain = userHasTeam.Data;
        }
    }

    public async void Logout()
    {
        await localStorage.RemoveItemAsync("authToken");
        ((AuthStateProvider)authStateProvider).NotifyUserLogout();
        NavigationManager.NavigateTo("/");

    }
}
