

<div class="widget">
    <div class="card p-3 m-3 navbar-inverse">
        <div class="card-body">
            <h6 class="card-title">Jesteś zalogowany jako:</h6>

            <NavLink class="card-link text-secondary" href="/user-profile/1">Imię Nazwisko</NavLink>
        </div>
    </div>

    <div class="card m-3 p-3 navbar-inverse">
        <div class="card-body">
            <h6 class="card-title">Twój najbliższy mecz:</h6>

            <p class="card-text">Brak!</p>
        </div>
    </div>
</div>



@code {

}
