<div class="blog-box row">
    <div class="col-md-4">
        <div class="post-media">
            <a href="tech-single.html" title="">
                <img src="upload/tech_blog_01.jpg" alt="" class="img-fluid">
                <div class="hovereffect"></div>
            </a>
        </div><!-- end media -->
    </div><!-- end col -->

    <div class="blog-meta big-meta col-md-8">
        <h4><NavLink href="@($"/article/{Article.Id}")" title="">@Article.Title</NavLink></h4>
        <p>@ContentPreview</p>
        <small><a href="tech-single.html" title="">@Article.CreationDate</a></small>
    </div><!-- end meta -->
</div><!-- end blog-box -->

@code {
    [Parameter]
    public ArticleDto Article { get; set; }

    public string ContentPreview
    {
        get
        {
            if (Article.Content.Length > 100)
            {
                return Article.Content.Substring(0, 100) + "...";
            }
            else
            {
                return Article.Content;
            }
        }
    }
}
